.wrapper-grid {
    display: inline-block;
    justify-content: center;
    align-items: end;
    flex-direction: row;
    background-color: var(--background-color);
    width: 31%;
    border-radius: 1rem;
    text-align: left;
    margin: 1rem 0.6rem 2.5rem 0.6rem;
}

.wrapper-grid:hover{
    background-color: var(--primary-color);
    color: var(--black-color);
}

.card-container {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
}

.card-img {
    flex: 1;
    position: relative;
}

.card-img:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    cursor: pointer;
}

.img {
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;

}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-img:hover .button-container {
    opacity: 1;
    z-index: 10;
}

.button {
    font-weight: 700;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    border: none;
    color: var(--white-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5rem;
    width: 12rem;
    height: 3.5rem;
}

.button:hover {
    background-color: var(--button-hover-color);
    color: var(--white-color);
}

@media (max-width:550px) {
    .wrapper-grid{
        width:auto;
        flex-direction: column;
    }
}

.card-data-container{
    margin-top: 15px;
}

.card-title{
    padding: 0px 15px;
    font-size: 1.6rem;
    font-weight: 600;
}

.card-subtitle{
    padding: 0px 15px;
    font-size: 0.8rem;
}

.card-user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 18px;
    margin-bottom: 15px;
}

.card-user-img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.card-user-img:hover {
    transform:scale(1.2);
}
.card-user-name{
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 11px;
    padding-left: 10px;
}

