
.discount-container{
    width: 100%;
    display: inline-block;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 1rem;
    margin: 0.4rem 0;
}

.discount-data{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0.8rem;
}

.discount-subtitle{
    color: var(--black-color);
    font-size: 1.3rem;
    font-weight:700;
    padding-top: 10px;
    word-spacing: 0.2rem;
    letter-spacing: 0.03rem;
    line-height: 1.1rem;
}

.discount-para{
    color: var(--black-color);
    font-size: 0.9rem;
    font-weight:400;
    padding-top: -10px;
    line-height: 0.9rem;
}

.discount-time-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
}

.discount-time{
    width: 45px;
    height: 50px;
    background-color: #504a4a;
    color: var(--white-color);
    margin: 5px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    border-radius:0.5rem ;
}

.discount-coln{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 3px;
}

.discount-time-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.discount-time-unit{
    padding: 0.4rem;
    text-align: center;
    color: var(--var(--black-color)-color);
    font-size: 1.1rem;
    font-weight: 600;
}