.grid-container {
    margin: 5rem auto 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "category-filter product product product"
        "category-filter product product product";
    gap: 1rem;
}

.category-filter {
    grid-area: category-filter;
}

.product {
    grid-area: product;
}

@media only screen and (max-width: 550px) {
    .grid-container {
        grid-template-columns: 1fr; /* Single column for smaller screens */
        grid-template-rows: auto; /* Adjust rows as per content */
        grid-template-areas: 
            "category-filter"
            "product"
            "product"
            "product";
        gap: 0.2rem;
    }
}
