.container-fluid {
    background-color: var(--background-color);
    color: var(--white-color);
}

.contact-title {
    text-align: center;
    padding: 2rem 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
}

.contactus-container {
    margin: 1.5rem auto 0 auto;
    display: grid;
    height: 100hv;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "contactus-details contactus-img";
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.082);
}

.contactus-img {
    grid-area: contactus-img;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 40px;
}

.img {
    transition: transform 0.3s ease-in-out;
    cursor: zoom-in;
    object-fit: cover;
    width: 14rem;
    height: 14rem;
}

.contactus-img h1{
    font-size: 1.5rem;
    font-weight: 500;
}

.contactus-img p{
    font-size: 0.8rem;
    font-weight: 400;
}

.contactus-img h2{
    font-size: 1.3rem;
}

.img:hover {
    transform: scale(1.05);
}

.contactus-details {
    grid-area: contactus-details;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactus-name_email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    position: relative;
}

.contactus-name-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px 10px 0px;
    width: auto;
}

.contactus-email {
    height: 45px;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 1.1rem;
}

.contactus-name {
    height: 45px;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.contactus-subject-container,
.contactus-message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    position: relative;
}

.contactus-subject {
    height: 45px;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 1.1rem;
    width: 100%;
}

.contactus-message {
    padding: 16px;
    outline: none;
    border: none;
    font-size: 1.1rem;
    width: 100%;
}

.contactus-message::first-letter{
    text-transform: uppercase;
}

.contactus-label {
    font-size: 1.2rem;
    padding-bottom: 3px;
}

.contactus-star {
    color: var(--primary-color);
    padding: 5px;
}

.contactus-email:focus,
.contactus-name:focus,
.contactus-subject:focus,
.contactus-message:focus {
    background-color: var(--card-color);
    outline-width: 1px;
    outline-style: double;
    outline-color: var(--primary-color);
    outline-offset: 0px;
    color: var(--white-color);
}

.send-btn {
    margin: 1.6rem 0rem;
    width: 100%;
    height: 44px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
}

.send-btn:hover {
    color: var(--white-color);
    background-color: var(--button-hover-color);
    border: none;
}

@media (max-width:550px) {
    .contactus-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 1fr;
        grid-template-areas:  "contactus-img" "contactus-details" ;
    }

    .contactus-subject-container,
    .contactus-message-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .contactus-name_email-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .contactus-img {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin: 15px;
        padding: 5px;
    }
    .img {
        width: 100%;
    }
    .contactus-name,
    .contactus-email,
    .contactus-subject,
    .contactus-message{
        width: 18rem;
        margin: 3px 0px;
    }
    .send-btn {
        width: 18rem;
    }
}

@media (min-width:551px)and (max-width:1024px){
    .contactus-subject-container,
    .contactus-message-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .contactus-name_email-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .contactus-img {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .img {
        width: 100%;
    }
    .contactus-name,
    .contactus-email,
    .contactus-subject,
    .contactus-message{
        width: 18rem;
        margin: 3px 0px;
    }
    .send-btn {
        width: 18rem;
    }
}