.special-offer-container{
    height: 100%;
    width: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: var(--card-color);
    border-radius: 1rem;
    margin: 0.4rem 0;
    position: relative;
}


.special-offer-data{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0.8rem;
    cursor: pointer;
}

.special-offer-subtitle{
    font-size: 1.2rem;
    font-weight:500;
    padding: 5px;
    word-spacing: 0.2rem;
    letter-spacing: 0.03rem;
    line-height: 1.1rem;
}

.special-inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-discount{
    background-color: var(--primary-color);
    width: 55px;
    height: 55px;
    font-size: 1rem;
    border-radius: 4rem;
    font-weight: 500;
    margin: -60px 0px 0px -40px;
    z-index: 6;
    padding: 5px;
}

.special-offer-img{
    width: 8rem;
    height: 8rem;
    border-radius: 0.7rem;
    background-position: center;
    background-size: cover;
    transition: transform 0.2s ease-in-out;
    cursor: zoom-in;
}

.special-offer-img:hover{
    transform: scale(1.1);
    z-index: 20;
}

.btn-link{
    width: 90%;
    height: 44px;
    margin: 1rem;
    position: relative;
}

.search-btn{
    margin: 0.5rem;
    width: 90%;
    height: 44px;
    font-size: 1.1rem;
    font-weight:bold;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5rem;
}

.search-btn:hover{
    color: var(--white-color);
    background-color: var(--button-hover-color);
    border: none;
}
