.category-title{
    font-size: 1.6rem;
    text-align: left;
    color: var(--white-color);
    font-weight: 500;
    padding: 5px 25px;
    border: 1px solid var(--white-color);
    background-color: var(--primary-color);
}

.category-list{
   list-style-type: none;
   text-align: left;
   padding: 20px 15px;
   
}

.category-list-item{
    font-size: 1.1rem;
    color: var(--white-color);
    line-height: 2rem;
    text-transform: capitalize;
}

.category-list-item-checkbox{
    margin: 0px 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #fff;
    width: 15px;
    height: 15px;
    outline: none;
    cursor: pointer;
    border-radius: 5rem;
}

.category-list-item-checkbox:checked{
    background-color:var(--primary-color);
    color: var(--white-color);
}